<footer>
	
	<!-- Your custom nav footer here -->
	{% if site.personal.linkedin %}
	<a href="{{ site.personal.linkedin }}" target="_blank" rel="noreferrer noopener"><i
		  class="fab fa-linkedin"></i> LinkedIn</a>
	{% endif %}
	{% if site.personal.github %}
	<a href="{{ site.personal.github }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-github">
		  Github</i></a>
	{% endif %}
	{% if site.personal.googlescholar %}
	<a href="{{ site.personal.googlescholar }}" target="_blank" rel="noreferrer noopener"><i
		  class="fas fa-graduation-cap"></i> Google Scholar</a>
	{% endif %}
		
</footer>
