---
layout: default
---

<article id="post-page">
	<h2>{{ page.title }}</h2>
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
	<div class="content">

		{% for item_hash in site.data.veg_prices_mvd %}
		{% assign item = item_hash[1] %}
		<h3>
			{{item.name}}
		</h3>
		<p>
			{{item.description}}
		</p>
		<table style="width:100%">
			<tr>
				<th>Marca</th>
				<th>Tienda</th>
				<th>Fecha</th>
				<th>Precio</th>
			</tr>
			{% for price in item.price_items | sort 'price' %}

			<tr>
				<td>{{ price.brand }}</td>
				<td>{{ price.date }}</td>
				<td>{{ price.store }}</td>
				<td>$ {{ price.price }}</td>
			</tr>
			{% endfor %}
		</table>

		{% endfor %}
		{{ content }}

	</div>
</article>
