---
layout: default
---

<article id="post-page">
	<h2>{{ page.title }}</h2>
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
	<div class="content">

		{% for item_hash in site.data.veg_prices_mvd %}
		{% assign item = item_hash[1] %}
		<h3>
			{{item.name}}
		</h3>
		<h4>
			{{item.description}}
		</h4>
		<table style="width:100%">
			<tr>
				<th>Marca</th>
				<th>Tienda</th>
				<th>Fecha</th>
				<th>Precio</th>
			</tr>
			{% for brand in item.brands %}
			{% for price in brand.price_item %}

			<tr>
				<td>{{ brand.name }}</td>
				<td>{{ price.date }}</td>
				<td>{{ price.store }}</td>
				<td>{{ price.price_per_liter }}</td>
			</tr>
			{% endfor %}
			{% endfor %}
		</table>

		{% endfor %}
		{{ content }}

	</div>
</article>
